apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: e2e-tests-go-crqglsqp
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/e2e-tests-go-crqglsqp:5cc89d5f901c9857086798c4099711c1ce0f815f@sha256:3fd7e57207d2387d80982bd9e6fad78c7890e6b5b4f0e04f17460b934f615754
        name: container-image  
